{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<main class="h-100">

<img src={{ asset('assets/images/background/desk-badeau-espace.jpg') }} alt="bandeau espace" width="100%">

<h1 class="h3 mb-3 font-weight-bold text-center">Accédez à votre compte</h1>
     <p class="text-center">Pour accéder à votre compte, merci de renseigner votre identifiant et votre mot de passe</p>
   
<div class="container">
<form method="post" class="form-signin">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<h2 class="h3 mb-3 font-weight-bold text-center">Accédez à votre compte</h2>
 
 <div class="form-outline">
  <input type="email" id="inputEmail" class="form-control" placeholder="email@email.com" requied/>
  <label class="form-label" for="email">IDENTIFIANT</label>
</div>
 <div class="form-outline">
  <input type="password" id="inputPassword" name="password" class="form-control" requied/>
  <label class="form-label" for="password">MOT DE PASSE</label>
</div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-primary" type="submit">
        Se connecter
    </button>
</form>
   <div class="MotDePasseOublie">

        <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
   
    </div>
</div>
</main>
{% endblock %}
