{% extends 'base.html.twig' %}

{% block metaDescription %}Devis gratuit en ligne. Nous nous engageons à vous répondre sous 24h. {% endblock metaDescription %}
{% block robots %}index,follow{% endblock robots %}
{% block title %}Demander un devis - {{ parent() }}{% endblock %}


{% block body %}
<main class="devis">
<img src={{ asset('assets/images/background/desk-bandeau-devis.jpg') }} alt="bandeau devis" width="100%">
<section class="container mt-5">

<h1 class="mb-3 font-weight-bold text-center ms-auto me-auto">Vous souhaitez un devis sur une des prestations de <span class="yellow"> FormaBLOCS</span> ?
</h1>

<p class="text-left">
Merci de remplir le formulaire ci-dessous.
</p>

 <div class="row h-100 justify-content-center align-items-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
{{ form_start(quotation) }} 
    <div class="form-contact h-100 justify-content-center align-items-center p-5 mb-3">
            
  
                <div class="row mb-3">
                    <div class="col me-3">
                      {{ form_widget(quotation.lastName) }}
                     
                    </div>
                    <div class="col me-3">
                   
                      {{ form_widget(quotation.firstName) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                      {{ form_widget(quotation.numberStreet) }}
                    </div>
                    <div class="col-9 input-perso">
                      {{ form_widget(quotation.street) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                      {{ form_widget(quotation.zip) }}
                    </div>
                    <div class="col-md-9 input-perso">
                      {{ form_widget(quotation.city) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                      {{ form_widget(quotation.country) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col me-3">
                      {{ form_widget(quotation.email) }}
                    </div>
                    <div class="col me-3">
                      {{ form_widget(quotation.phone) }}
                    </div>
                </div>
                
<div class="row mb-3 align-items-center form-background">
 <div class="col-3">{{ form_label(quotation.status) }}</div>
 <div class="col-9">
  {{ form_widget(quotation.status) }}
  </div>
</div>


<div class="row mb-3 d-flex form-background">
 <div class="col-2">{{ form_label(quotation.benefit) }}</div>
 <div class="col-10 prestations">
 <label>
  {{ form_widget(quotation.benefit) }}
</label>   
</div>
</div>

<div class="row mb-3">
    <div class="col me-3">
        {{ form_widget(quotation.message) }}
    </div>
</div>

<div class="row mb-3 align-items-center form-background">
 <div class="col-3">{{ form_label(quotation.SendByEmail) }}</div>
 <div class="col-9">
  {{ form_widget(quotation.SendByEmail) }}
  </div>
</div>
                
            <button class="btn-yellow mt-3" type="submit">
        ENVOYER
    </button>
  
           
            
            </div>
                <div class="form-group ms-5">
                     <div class="form-check">
                       <input class="form-check-input" type="checkbox" value="" id="cgu" required>
                      <label class="form-check-label" for="cgu">Conformément à notre politique de confidentialité, nous nous engageons à respecter vos données personnelles.</label>
                     </div>
                 </div> {{ form_end(quotation) }}
                 <p class="text-center">L’équipe de <span class="yellow">FormaBLOCS</span> reprendra contact avec vous dans les 24/48h.</p>

<p class="text-center">*Pour les blocs individuels de formation, notez dans le message le bloc que vous souhaitez valider. </p>
    </div>
   
</section>
</main>
{% endblock %}
