{% extends 'base.html.twig' %}

{% block title %}Formablocs - Nos formations{% endblock %}

{% block body %}

<main>
    <img src={{ asset('assets/images/background/desk-bandeau-formations.jpg')}} alt="bandeau formations" class="img-fluid">
    <h1 class="text-center py-5">Nos formations certifiantes</h1>
    <div class="formation mb-5">
        <div  class="container">
            {% for formation in formations %}
            <img src={{ asset('assets/icons/desk-cercle-chapeau-noir.svg') }} alt="icon card" class="iconCard">
            <div class="card">
                <h2 class="card-title text-uppercase col-11 pt-3 px-5">{{ formation.title }}</h2>
                <p class="px-5">Chacun des deux blocs de ce titre peut être vendu individuellement.</p>
                <div class="card-body px-5 cardFormation">

                    <img src={{asset('assets/icons/desk-picto-cube.svg')}} alt="icone block">
                    <ul class="list-unstyled">
                        {% for blocks in formation.blocks %}
                        <li><span>Bloc {{ loop.index }} : </span> {{ blocks.name }}</li>
                        {% endfor %}
                    </ul>


                    <img src={{asset('assets/icons/desk-picto-television.svg')}} alt="icone formation à distance">
                    <p>Cette formation sera en distanciel avec un accompagnement pédagogique complet de manière
                        synchrone
                        (Conférences) ou asynchrone (outils de messagerie, forum, email) </p>

                    <img src={{asset('assets/icons/desk-chapeau-gris.svg')}} alt="icone chapeau diplome">
                    <p>Cette formation est accessible par la voie de la VAE (Validation des Acquis de l’Expérience)</p>

                    <img src={{asset('assets/icons/desk-cart-arrow-down.svg')}} alt="icone prix">
                    <p>Le prix : de {{ formation.priceMin }} à {{ formation.priceMax }} &euro;</p>

                    
                </div>
                <p class="px-5 pt-3">Ces formations peuvent être financée par le biais du financement de la formation professionnelle
                        continue : CPF / Pôle Emploi / OPCO /
                        Compte formation entreprises / Transition professionnelle.
                        Pour plus d’information et d’aide au financement, nous contacter. </p>
            </div>
            <div class="d-flex flex-row justify-content-around py-5">
                <a class="btnGrey" href={{ path('quotation')}}>Demande de devis</a>
                <a class="btnYellow" href="#">
                    <img src={{ asset('assets/icons/telecharger.svg')}} alt="télécharger">
                    Plaquette en pdf
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="quote d-flex flex-row">
        <img src={{ asset('assets/images/background/desk-quote-left.svg')}} alt="quote left">
        <div class="container">
            <p class="text-center col-10 offset-1 textBig quoteText">Nous passons 15
                ans à l’école et pas
                une fois on nous apprend la confiance en soi, la passion et l’amour qui sont les fondements de la
                vie.
            </p>
            <p class="text-center textBig">Albert Einstein</p>
        </div>
        <img src={{ asset('assets/images/background/desk-quote-right.svg')}} alt="quote right">
    </div>
</main>

{% endblock %}