{% extends 'base.html.twig' %}

{% block title %}Formablocs - Homepage{% endblock %}

{% block body %}
{# Banner #}

<main>

	{# Banner #}
	<div class="banner">
		<div class="container">
			<h1 class="col-8">Organisme de formation et de conseil</h1>
			<h2 class="description col-8">Spécialisé dans le domaine de la formation professionnelle continue
				(distanciel).
			</h2>
			<div class="mt-5 pt-5">
				<a class="btnYellow col-3" href={{ path('formation')}}>Plus d'informations</a>
			</div>
		</div>
	</div>

	{# Qui suis-je ? #}
	<div class="container">
		<h2>Qui suis-je ?</h2>
		<div class="row">
			<div class="col-7">
				<p class="textBig">Je suis Héloîse ZITOUNI, fondatrice de centre de formation <span
						class="text-highlight">FormaBLOCS</span>.
					Diplômée d’un Master en
					Ingénierie de formation, avec une expérience de 7 ans dans le domaine de la formation
					professionnelle, je
					souhaite
					mettre à votre disposition mes compétences et mon expérience.
					La formation professionnelle est une belle opportunité qui vous permet de redonner et ou de
					trouver
					un sens à
					votre vie professionnelle et aussi personnelle.</p>
				<p class="textSmall"><span class="text-highlight">Mes valeurs :</span> Entraide, Humanité, Respect,
					Professionnalisme et
					Expertise. </p>
			</div>
			<img src={{asset('assets/images/photo-heloise-zitouni.png')}} alt="Photo Héloîse ZITOUNI"
				class="img-fluid align-self-start col-5">
			<a class="btnGrey col-3 text-center" id="btnContact" href={{ path('qui-sommes-nous')}}>Nous contacter</a>
		</div>
	</div>

	{# Types de prestations #}
	<div class="prestation">
		<h2 class="text-center">Types de prestations proposées</h2>
		<div class="card-container">

			{# Boucle for sur formations #}
			{% for formation in formations %}

			<div class="card card-item">
				<img src={{asset('assets/images/imgFormation/')}}{{ formation.image }} alt="{{ formation.title }}"
					class="card-img-top">
				<div class="card-body cardFormation px-3 py-5">
					<img src={{asset('assets/icons/desk-chapeau-gris.svg')}} alt="icone chapeau gris">
					<h6 class="card-title">{{ formation.title }}</h6>

					<img src={{asset('assets/icons/desk-picto-television.svg')}} alt="icone formation à distance" >
					<p class="card-text">{{ formation.type }}</p>

					<img src={{asset('assets/icons/desk-picto-cube.svg')}} alt="icone block" >
					<p class="card-text">{{ formation.nbBlocs }} vendus séparement</p>

					<img src={{asset('assets/icons/desk-cart-arrow-down.svg')}} alt="icone prix">
					<p class="card-text">De {{ formation.priceMin }} a {{formation.priceMax }} &euro;</p>
				</div>
			</div>

			{% endfor %}
			<div class="card card-item">
				<img src={{asset('assets/images/imgFormation/conseil.jpg')}} alt="conseils pour professionnels"
					class="card-img-top">
				<div class="card-body cardFormation px-3 py-5">
					<img src={{asset('assets/icons/desk-chapeau-gris.svg')}} alt="icone chapeau diplome">
					<h6 class="card-title">Prestations de conseil pour les professionnels de la formation</h6>

					<img src={{asset('assets/icons/desk-picto-television.svg')}} alt="icone formation à distance">
					<p class="card-text">A distance</p>

					<img src={{asset('assets/icons/desk-picto-cube.svg')}} alt="icone block" class="py-3">
					<p class="card-text">Liste des prestations dispoibles</p>

					<img src={{asset('assets/icons/desk-cart-arrow-down.svg')}} alt="icone prix">
					<p class="card-text">Nous contacter</p>
				</div>
			</div>
		</div>
		<div class="container"> 	
			<p class="text-note">A NOTER : Les deux formations certifiantes sont également accessibles par la VAE (Validation des Acquis
			d’expérience)
			Pour plus d’information sur la VAE, rendez-vous sur notre page Prestations</p>
		</div>
	</div>

	{# Comment financer sa formation ? #}
	<div class="container financer">
		<h2 class="text-center">Comment financer sa formation ?</h2>
		<p class="textBig">La formation professionnelle est un outil majeur à la disposition de tous les actifs :
			salariés,
			indépendants,
			chefs d’entreprise ou demandeurs d’emploi. Elle permet de se former tout au long de son parcours
			professionnel,
			pour développer ses compétences et accéder à l’emploi, se maintenir dans l’emploi ou encore changer
			d’emploi.
			De nombreux financements sont disponibles afin de faciliter l’accès à la formation comme le Conseil
			Régional, Pôle
			Emploi, les Entreprises avec OPCO et l’état.<br>
			Pour obtenir une qualification ou une certification reconnue, vous pouvez mobiliser votre CPF (Compte
			personnel de
			formation), le CIF (Congé individuel de formation), la VAE (Validation des acquis de l’expérience) et le
			FIA
			(Formation individuel ADEFIPH).</p>
		<div class="d-flex flex-row justify-content-around align-items-center">
			<img src={{ asset('assets/images/logo/desk-logo-CPF.png') }} alt="logo Mon Compte Formation" class="img-fluid">
			<img src={{ asset('assets/images/logo/desk-logo-pe.png') }} alt="logo Pôle emploi" class="img-fluid">
			<img src={{ asset('assets/images/logo/desk-logo-opco.png') }} alt="logo OPCO" class="img-fluid">
		</div>
		<div class="text-center mt-3">
			<a class="btnGrey" href={{ path('contact')}}>Plus d'informations</a>
		</div>
	</div>

	{# Pourquoi se former avec nous ? #}
	<div class="pourquoi">
		<div class="container text-center">
			<h2 >Pourquoi se former avec nous ?</h2>
			<video controls>
				Your browser does not support the video tag.
			</video>
		</div>
	</div>

</main>
{% endblock %}