<!-- Footer -->
<footer class="FooterDesktop text-left text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-left text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <!-- Content -->
          <p class="mb-4">
            <img src="{{asset('assets/icons/desk-user.svg')}}" alt="Héloïse ZITOUNI" class="icone_Footer">Héloïse ZITOUNI<br>
          <img src="{{asset('assets/icons/desk-phone.svg')}}" alt="Téléphone" class="icone_Footer"> 06 00 00 00 00<br>
<img src="{{asset('assets/icons/desk-mail.svg')}}" alt="Mail" class="icone_Footer"> contact@formablocs.fr</p>
<p>N° de SIRET : 522 365 568 000 13<br>
N° de déclaration d'activité : 92 83 02 801 87
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Links -->
          <p>
           <i class="bi bi-caret-right-fill"></i> <a href="{{ path('formation') }}" class="text-uppercase">NOS FORMATIONS</a>
          <br>
           <i class="bi bi-caret-right-fill"></i> <a href="{{ path('conseil') }}" class="text-uppercase">NOS CONSEILS</a>
          <br>
           <i class="bi bi-caret-right-fill"></i> <a href="{{ path('app_login')}}" class="text-uppercase">MON COMPTE</a>
          <br>
           <i class="bi bi-caret-right-fill"></i> <a href="{{ path('quotation')}}" class="text-uppercase">DEMANDE DE DEVIS</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Links -->
		    <p>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">CONDITIONS GENERALES DE VENTE</a>
          <br>
           <i class="bi bi-caret-right-fill"></i> <a href={{ path('CGU')}} class="text-uppercase">CGU DU SITE</a>
          <br>
            <i class="bi bi-caret-right-fill"></i><a href={{path('protection')}} class="text-uppercase">POLITIQUE DE CONFIDENTIALITES</a>
          <br>
           <i class="bi bi-caret-right-fill"></i> <a href="#!" class="text-uppercase">MENTIONS LEGALES</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 d-flex align-content-end flex-wrap">
          <!-- Links -->
          <p>Suivez-nous sur</p>
       
          <p>
          <a href="#"><img src="{{asset('assets/icons/desk-facebook.svg')}}" alt="Facebook" class="icone_sociaux"></a>
         <a href="#"> <img src="{{asset('assets/icons/desk-instagram.svg')}}" alt="Intagram" class="icone_sociaux"></a>
         <a href="#"> <img src="{{asset('assets/icons/desk-linkedin.svg')}}" alt="Linkedin" class="icone_sociaux"></a>
          <a href="#"><img src="{{asset('assets/icons/desk-youtube.svg')}}" alt="Youtube" class="icone_sociaux"></a>
          </p>
     
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    TOUS DROITS R&Eacute;SERV&Eacute;S 2021 ©<a class="text-reset" href="/" style="text-decoration: none;">FormaBLOCS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->