<!-- Footer -->
<footer class="FooterMobile text-left text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
  <section>
    <div class="container text-left text-md-start mt-3">
      <!-- Grid row -->
      <div class="row mt-1">

        <!-- Grid column -->
        <div class="col-12">
          <!-- Links -->
          
          <div class="alignementFooter">
<center>
          <div class="nav-item">
            <img src="{{asset('assets/icons/mobile/mobile-picto-search.svg')}}"><br>
            <a class="nav-link" href="" alt="Recherche">Recherche</a>
          </div>
          <div class="nav-item">
            <img src="{{asset('assets/icons/mobile/mobile-picto-2bulles.svg')}}"><br>
            <a class="nav-link" href="{{ path('contact')}}" alt="Contact">Contact</a>
          </div>
          <div class="nav-item">
            <img src="{{asset('assets/icons/mobile/mobile-picto-dossier.svg')}}"><br>
            <a class="nav-link" href="" alt="Mon dossier">Mon dossier</a>
          </div>
          <div>
            <img src="{{asset('assets/icons/mobile/mobile-picto-user.svg')}}"><br>
            <a class="nav-link" href="{{ path('app_login')}}" alt="Mon compte">Mon compte</a>
          </div>
          <hr>
          </center>
        </div>  
        
        </div>
        <!-- Grid column -->

        

        <!-- Grid column -->
        <div class="col-12">
          <!-- Links -->
          <p class="text-center">Suivez-nous sur</p>
       
      
          <center>
        <a href="#"><img src="{{asset('assets/icons/desk-facebook.svg')}}" alt="Facebook" class="icone_sociaux"></a>
         <a href="#"> <img src="{{asset('assets/icons/desk-instagram.svg')}}" alt="Intagram" class="icone_sociaux"></a>
         <a href="#"> <img src="{{asset('assets/icons/desk-linkedin.svg')}}" alt="Linkedin" class="icone_sociaux"></a>
          <a href="#"><img src="{{asset('assets/icons/desk-twitter.svg')}}" alt="Twitter" class="icone_sociaux"></a>
          <a href="#"><img src="{{asset('assets/icons/desk-youtube.svg')}}" alt="Youtube" class="icone_sociaux"></a>
         </center> 
     
        </div>
        <!-- Grid column -->
        <div class="col-12 mt-3">
          <!-- Content -->
  <p class="text-center">N° de SIRET : 522 365 568 000 13<br>
N° de déclaration d'activité : 92 83 02 801 87
          </p>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 FooterMobileDroit">
    TOUS DROITS R&Eacute;SERV&Eacute;S.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->