<header>
  <div class="header">
    <!-- Information NavBar -->
    <nav class="d-none d-md-block">

      <div class="container" id="navbarCenteredExample">
        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-between">

          <li class="nav-item d-flex align-items-center">
            <img src="{{asset('assets/icons/desk-phone.svg')}}" alt="Téléphone" class="icone_Header">
            <a class="nav-link" href="tel:0164859726" alt="Télphone Forma Blocs">01.64.85.97.26</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <img src="{{asset('assets/icons/desk-mail.svg')}}" alt="Mail" class="icone_Header">
            <a href="{{ path('contact')}}">Nous contacter</a>
          </li>
          <li class="nav-item d-flex align-items-center justify-content-end">
            Suivez-nous sur

            <a href="#"><img src="{{asset('assets/icons/desk-facebook.svg')}}" alt="Facebook" class="icone_sociaux"></a>
            <a href="#"><img src="{{asset('assets/icons/desk-instagram.svg')}}" alt="Intagram"
                class="icone_sociaux"></a>
            <a href="#"><img src="{{asset('assets/icons/desk-linkedin.svg')}}" alt="Linkedin" class="icone_sociaux"></a>
            <a href="#"><img src="{{asset('assets/icons/desk-twitter.svg')}}" alt="Twitter" class="icone_sociaux"></a>
            <a href="#"><img src="{{asset('assets/icons/desk-youtube.svg')}}" alt="Youtube" class="icone_sociaux"></a>

          </li>
        </ul>
      </div>
    </nav>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ path('default')}}"><img
          src="{{ asset('assets/images/logo/Logo-formablocs.png')}}" height="50" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src={{ asset('assets/icons/mobile/mobile-burger.svg')}} alt="icon menu">
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav mb-2 mb-lg-0 text-center">

          <li class="nav-item">
            <a class="nav-link" href="{{ path('default')}}">Accueil</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrestation" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Nos prestations
            </a>
            <ul class="dropdown-menu dropdown-menu-light text-center" aria-labelledby="navbarDropdownPrestation">
              <li><a class="dropdown-item" href="{{ path('formation') }}">Nos formations</a></li>
              <li><a class="dropdown-item" href="{{ path('conseil') }}">Nos conseils en formation</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('qui-sommes-nous') }}">Qui suis-je ?</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownContact" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Contact
            </a>
            <ul class="dropdown-menu dropdown-menu-light text-center" aria-labelledby="navbarDropdownContact">
              <li><a class="dropdown-item" href="{{ path('contact')}}">Contactez FormaBLOCS</a></li>
              <li><a class="dropdown-item" href="{{ path('quotation')}}">Demande de devis</a></li>
            </ul>
          </li>


          <li class="nav-item order-lg-last order-first">
            <div class="d-lg-flex justify-content-around align-items-center mt-2 mt-lg-0">
              <a class="btn-orange nav-link text-white" href="{{ path('app_login')}}">Mon compte</a>
            </div>
          </li>
        </ul>
      </div>

  </nav>


</header>