<header>
         <div class="header">
        <!-- Information NavBar -->
              <nav class="navbar navbar-expand-md ">
              
                <div class="navbar-collapse collapse container" id="navbarCollapse1">
                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav d-flex align-items-center">
                        
                        <li class="nav-item d-flex align-items-center">
                          <img src="{{asset('assets/icons/desk-phone.svg')}}" alt="Téléphone" class="icone_Header">
                           <a class="nav-link" href="tel:0164859726" alt="Télphone Forma Blocs">01.64.85.97.26</a>  
                        </li>
                        <li class="nav-item d-flex align-items-center">
                        <img src="{{asset('assets/icons/desk-mail.svg')}}" alt="Mail" class="icone_Header">
                          <a href="{{ path('contact')}}">Nous contacter</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                        Suivez-nous sur
       
          <img src="{{asset('assets/icons/desk-facebook.svg')}}" alt="Facebook" class="icone_sociaux">
          <img src="{{asset('assets/icons/desk-instagram.svg')}}" alt="Intagram" class="icone_sociaux">
          <img src="{{asset('assets/icons/desk-linkedin.svg')}}" alt="Linkedin" class="icone_sociaux">
          <img src="{{asset('assets/icons/desk-youtube.svg')}}" alt="Youtube" class="icone_sociaux">
          
                        </li> 
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="collapse" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
          </div>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ path('default')}}"><img src="{{ asset('assets/images/Logo-formablocs.png')}}"  height="40"  alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse" style="text-align:right;">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Nos prestations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Qui suis-je ?</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('contact')}}">Contact</a>
          </li>


           <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login')}}">Mon compte</a>
          </li>
          
        </ul>
</div>
    
  </nav>

  
</header>