<h1>Nouveau contact</h1>
<p>Nom : {{contact.lastName}}</p>
<p>Nom : {{contact.firstName}}</p>
<p>e-mail : {{contact.Email}}</p>
<p>Téléphone : {{contact.phone}}</p>
<p>Message : <span>{{contact.message|raw}}</span></p>
