<h1>Demande de devis</h1>
<p>Nom : {{quotation.lastName}}</p>
<p>Prénom : {{quotation.firstName}}</p>
<p>e-mail : {{quotation.Email}}</p>
<p>Téléphone : {{quotation.phone}}</p>
<p>Message : <span>{{quotation.message|raw}}</span></p>