<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="FormaBLOCS, Centre de formations professionnelles certifiantes pour adultes en distanciel. Prestations d’accompagnement en distanciel des professionnels de la formation.">
  <meta name="keywords" content="Organisme de formation, Organisme de formation à distance,
  Organisme de formation en distanciel, Centre de formation à distance, Centre de formation à distance reconnu par l’état,
  Formation professionnelle en ligne, Formation en ligne reconnue par l’état, Formation à distance reconnue par l’état, Formation professionnelle à distance pour adultes,
  Formation à distance diplômante, Formation à distance certifiant, Formation à distance CPF,
  Conseiller en insertion professionnelle, Conseiller en insertion professionnelle à distance, Formation Conseiller en insertion professionnelle en distanciel,
  conseiller en insertion professionnelle formation à distance, Formation CIP à distance, prix formation conseiller en insertion professionnelle,
  Devenir conseiller en insertion professionnelle, Formateur d’adultes, Formateur d’adultes à distance, Formation Formateur d’adultes en distanciel,
  formation formateur d'adulte à distance, Devenir formateur d’adultes, Formation de formateur d’adultes certifiante,
  Orientation professionnelle, Orientation professionnelle adulte, Orientation tout au long de la vie, Réorientations professionnelle,
  Reconversion professionnelle, Transition professionnelle, Accompagnement certification organisme de formation,
  accompagnement qualiopi tarif,conseil organisme de formation">
  <meta name="robots" content="">
  <title>{% block title %}Forma Blocs{% endblock %}</title>
  {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
  {% block stylesheets %}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
  <!-- style -->
  <link rel="stylesheet" href={{ asset('css/style.css')}}>
   <!-- cookie -->
   <link rel="stylesheet" href={{ asset('css/cookie.css')}}>
  {#{{ encore_entry_link_tags('app') }}#}
  {% endblock %}

  {% block javascripts %}
  {#{{ encore_entry_script_tags('app') }}#}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
  </script>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  <!-- cookie -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
<!-- <script type="text/javascript" src={{ asset('js/cookie.js')}}></script> -->
<script>
var myModal = document.getElementById('modal')
var myInput = document.getElementById('myInput')

modal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script> 
  {% endblock %}
</head>

<body>
{{ include('includes/cookie.html.twig')}}
  {{ include('includes/header.html.twig')}}
  <div class="min-vh-100">
    {% block body %}

    {% endblock %}
  </div>
  {{ include('includes/footer.html.twig')}}
  {{ include('includes/footerMobile.html.twig')}}

</body>

</html>